trunk/ashaninka/morphology/AshaninkaMorph/generated_states_transitions/annotated_sentences_wtg.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="full.lexicon.schema.xsd"></xs:include>
    <xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\s*[^\s]\s*)+"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="author">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A0001"/>
            <xs:enumeration value="A0002"/>
            <xs:enumeration value="A0003"/>
            <xs:enumeration value="A0004"/>
            <xs:enumeration value="A0005"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="isstandard">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="sign">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="hyphen"/>
            <xs:enumeration value="equal"/>
            <xs:enumeration value="tilde"/>
            <xs:enumeration value="none;isroot:yes"/>
            <xs:enumeration value="hyphen;isroot:yes"/>
            <xs:enumeration value="equal;isroot:yes"/>
            <xs:enumeration value="tilde;isroot:yes"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="suffixtype">
        <xs:restriction base="xs:string">
            <xs:enumeration value="noun"/>
            <xs:enumeration value="adjective"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="wordclass">
        <xs:restriction base="xs:string">
            <xs:enumeration value="verb"/>
            <xs:enumeration value="noun"/>
            <xs:enumeration value="adjective"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>    
    <xs:simpleType name="language">
        <xs:restriction base="xs:string">
            <xs:enumeration value="en"/>
            <xs:enumeration value="es"/>
            <xs:enumeration value="pt"/>
        </xs:restriction>
    </xs:simpleType> 
    <xs:simpleType name="tag">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABS"/> <!-- absolutive -->
            <xs:enumeration value="ADJ"/> <!-- adjectivizer -->
            <xs:enumeration value="ADV"/> <!-- adverbial -->
            <xs:enumeration value="ADV.P"/> <!-- adverbial past -->
            <xs:enumeration value="APPL"/> <!-- generalized applicative -->
            <xs:enumeration value="APPL.BEN"/> <!-- applicative benefactive -->
            <xs:enumeration value="APPL.INST"/> <!-- applicative instrumental -->
            <xs:enumeration value="APPL.INT"/> <!-- applicative of intent -->
            <xs:enumeration value="APPL.PRES"/> <!-- applicative of intent -->
            <xs:enumeration value="APPL.REAS"/> <!-- presential applicative -->
            <xs:enumeration value="APPR"/> <!-- apprehensive -->
            <xs:enumeration value="AUG"/> <!-- augmentative -->
            <xs:enumeration value="CAUS"/> <!-- causative -->
            <xs:enumeration value="CAUS.AGT"/> <!-- causative agentive -->

            <xs:enumeration value="CAUS.SOC"/> <!-- causative sociative -->
            <xs:enumeration value="CC"/> <!-- coordinate clause -->
            <xs:enumeration value="CL"/> <!-- classifier -->
            <xs:enumeration value="CNT.F"/> <!-- counterfactual -->
            <xs:enumeration value="COM"/> <!-- comitative -->
            <xs:enumeration value="CONN"/> <!-- connective -->
            <xs:enumeration value="COND"/> <!-- conditional -->
            <xs:enumeration value="COP.C"/> <!-- copula of capacity -->
            <xs:enumeration value="CUST"/> <!-- customary aspect -->
            <xs:enumeration value="DE"/> <!-- dependent event -->
            <xs:enumeration value="DEM"/> <!-- demonstrative -->

            <xs:enumeration value="DIM"/> <!-- diminutive -->
            <xs:enumeration value="DIR"/> <!-- directional -->
            <xs:enumeration value="DIST"/> <!-- distributive -->
            <xs:enumeration value="DUB"/> <!-- dubitative -->
            <xs:enumeration value="DUR"/> <!-- durative -->
            <xs:enumeration value="EMPH"/> <!-- emphatic -->
            <xs:enumeration value="EP"/> <!-- epenthetic -->
            <xs:enumeration value="EXCL"/> <!-- exclamative (general focus) -->
            <xs:enumeration value="EXIST"/> <!-- existential -->
            <xs:enumeration value="FOC"/> <!-- focus -->
            <xs:enumeration value="FOC.O"/> <!-- focused object -->
            <xs:enumeration value="FRUS"/> <!-- frustrative -->
            <xs:enumeration value="HAB"/> <!-- habitual -->
            
            <xs:enumeration value="ICPL"/> <!-- incompletive -->
            <xs:enumeration value="IDEO"/> <!-- ideophone -->
            <xs:enumeration value="IMP.P"/> <!-- impersonal passive -->
            <xs:enumeration value="INCH"/> <!-- inchoative -->
            <xs:enumeration value="INST"/> <!-- instrumental -->
            <xs:enumeration value="IRR"/> <!-- irrealis -->
            <xs:enumeration value="IRR.REFL"/> <!-- irrealis reflexive -->
            <xs:enumeration value="LOC"/> <!-- locative -->
            <xs:enumeration value="MC"/> <!-- main clause -->
            <xs:enumeration value="M.CAUS"/> <!-- malefactive causative -->
            <xs:enumeration value="N.C.FOC"/> <!-- non-contradictory focus -->
            <xs:enumeration value="NEG"/> <!-- negative -->
            <xs:enumeration value="NEG.EXIST"/> <!-- negative existential -->
            <xs:enumeration value="NEG.IRR"/> <!-- negative irrealis -->
            <xs:enumeration value="NEG.P"/> <!-- negative polarity -->
            <xs:enumeration value="NEG.REAL"/> <!-- negative realis -->
            <xs:enumeration value="NMZ"/> <!-- nominalizer -->
            <xs:enumeration value="NP"/> <!-- noun phrase -->
            <xs:enumeration value="OPT"/> <!-- optative -->
            <xs:enumeration value="PL"/> <!-- plural -->
            <xs:enumeration value="PP"/> <!-- positive polarity -->
            <xs:enumeration value="PRF"/> <!-- perfective -->
            <xs:enumeration value="PROG"/> <!-- progressive -->
            <xs:enumeration value="Q"/> <!-- interrogative -->
            <xs:enumeration value="RC"/> <!-- relative clause -->
            <xs:enumeration value="RCP"/> <!-- reciprocal -->
            <xs:enumeration value="REGR"/> <!-- regressive -->
            <xs:enumeration value="REL"/> <!-- relativizer -->
            <xs:enumeration value="REP"/> <!-- repetitive -->
            <xs:enumeration value="REV"/> <!-- reversative -->
            <xs:enumeration value="SG"/> <!-- singular -->
            <xs:enumeration value="SEP"/> <!-- separative applicative -->
            <xs:enumeration value="STAT"/> <!-- stative -->
            <xs:enumeration value="STAT.T"/> <!-- temporal stativity -->
            <xs:enumeration value="VP"/> <!-- verb phrase -->
            <xs:enumeration value="WH"/> <!-- content interrogative -->
            
            <!-- Abreviations not included in source  -->
            <xs:enumeration value="REAL"/> <!-- realis  -->
            <xs:enumeration value="BEN"/> <!-- realis  -->
            <xs:enumeration value="CNTR"/> <!-- realis  -->
            <xs:enumeration value="REC"/> <!-- realis  -->
            <xs:enumeration value="INS"/> <!-- realis  -->
            <xs:enumeration value="G.FOC"/> <!-- realis  -->
            <xs:enumeration value="O.FOC"/> <!-- realis  -->
            <xs:enumeration value="CAUS.COM"/> <!-- realis  -->
            <xs:enumeration value="DEGR"/> <!-- realis  -->
            <xs:enumeration value="APPL.SEP"/> <!-- realis  -->
            <xs:enumeration value="REAL.EMPH"/> <!-- realis  -->
            <xs:enumeration value="ADJ.m."/> <!-- realis  -->
            <xs:enumeration value="ADJ.n.m."/> <!-- realis  -->
            <xs:enumeration value="APPL.SOC"/> <!-- realis  -->
            <xs:enumeration value="NOM"/> <!-- realis  -->
            <xs:enumeration value="CL:quantity"/> <!-- realis  -->
            <xs:enumeration value="DIST.REL"/> <!-- realis  -->
            <xs:enumeration value="DIM.DEGR"/> <!-- realis  -->
            <xs:enumeration value="ADV.T"/> <!-- realis  -->
            <xs:enumeration value="REAL.RFL"/> <!-- realis  -->
            <xs:enumeration value="noun"/> <!-- realis  -->
            <xs:enumeration value="deceased"/> <!-- realis  -->
            <xs:enumeration value="once"/> <!-- realis  -->
            <xs:enumeration value="wide"/> <!-- realis  -->
            <xs:enumeration value="almost"/> <!-- realis  -->
            <xs:enumeration value="flat"/> <!-- realis  -->
            <xs:enumeration value="disheveled.head"/> <!-- realis  -->
            <xs:enumeration value="CL:small.round"/> <!-- realis  -->
            <xs:enumeration value="CL:small.flexible"/> <!-- realis  -->
            <xs:enumeration value="CL:small.thin.flexible"/> <!-- realis  -->
            <xs:enumeration value="CL:small.flat"/> <!-- realis  -->
            <xs:enumeration value="CL:social.insect"/> <!-- realis  -->
            <xs:enumeration value="small.part.DIM"/> <!-- realis  -->
            <xs:enumeration value="small.part"/> <!-- realis  -->
            <xs:enumeration value="for.a.while"/> <!-- realis  -->

            <!-- New abbreviations added by rcastro -->
            <xs:enumeration value="NPOSS"/> <!--  -->
            
            <!-- Verb prefix slot 1
            Where:
            1   first person 
            2   second person 
            3   third person 
            m.  masculine
            n.m. non-masculine
            A   subject of transitive clause
            O   object of transitive clause
            S   subject of intransitive clause
            SG  singular
            PL  plural
            -->
            <xs:enumeration value="1SG.S"/>
            <xs:enumeration value="2SG.S"/>
            <xs:enumeration value="3SGm.S"/>
            <xs:enumeration value="3SGnm.S"/>
            <xs:enumeration value="1PL.S"/>
            <xs:enumeration value="1SG.A"/>
            <xs:enumeration value="2SG.A"/>
            <xs:enumeration value="3SGm.A"/>
            <xs:enumeration value="3SGnm.A"/>
            <xs:enumeration value="1PL.A"/>
            <xs:enumeration value="3m.O"/>
            <xs:enumeration value="3nm.O"/>

            <!-- Observed -->
            <xs:enumeration value="3n.m.S"/>
            <xs:enumeration value="3n.m.A"/>
            <xs:enumeration value="3m.S"/>
            <xs:enumeration value="1SG.O"/>
            <xs:enumeration value="3O"/>
            <xs:enumeration value="2O"/>            
            <xs:enumeration value="3SGnm.O"/>
            <xs:enumeration value="1PL.O"/>
            <xs:enumeration value="2S"/>
            <xs:enumeration value="3SG.m.IRR"/> <!-- found in source -->
            
            <!-- Noun prefix slot 1 
            Where:
            1   first person 
            2   second person 
            3   third person 
            m.  masculine
            n.m. non-masculine
            poss    possessive
            SG  singular
            PL  plural            
            -->
            <xs:enumeration value="1SG.poss"/> <!-- found in source -->
            <!-- <xs:enumeration value="2SG.poss"/> --> <!-- not found in source -->
            <xs:enumeration value="2poss"/> <!-- found in source -->
            <!-- <xs:enumeration value="3SGm.poss"/> --> <!-- not found in source -->
            <xs:enumeration value="3m.poss"/> <!-- found in source -->
            <xs:enumeration value="3n.m.poss"/> <!-- found in source -->
            <xs:enumeration value="3SGnm.poss"/> <!-- not found in source -->
            <xs:enumeration value="1PL.poss"/> <!-- found in source -->
            <!-- Observed -->
            <xs:enumeration value="poss"/> <!-- found in source -->
            <xs:enumeration value="1SGposs"/> <!-- found in source -->
            <xs:enumeration value="3SG.poss"/> <!-- not found in source -->
            <xs:enumeration value="3poss"/> <!-- found in source -->
                       
        </xs:restriction>
    </xs:simpleType>    
    
    <xs:simpleType name="LexiconOrTag">
        <xs:union memberTypes="tag lexicon"/>
    </xs:simpleType>
    
    <xs:element name="annotated_sentences">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="maintainers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="maintainer" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="email" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sources">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="source" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="title" type="xs:string"/>
                                        <xs:element name="year" type="xs:string"/>
                                        <xs:element name="url" type="xs:string"/>
                                        <xs:element name="email" type="xs:string"/>
                                        <xs:element name="note" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="source_id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sentences">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sentence" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="normal">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="nonEmptyString">
                                                        <xs:attribute type="isstandard" name="istandard" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="nonstandard_annotation_first_level" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="annotation_first_level" type="nonEmptyString"/>
                                        <xs:element name="annotation_second_level" type="nonEmptyString"/>
                                        <xs:element name="translation" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="nonEmptyString">
                                                        <xs:attribute type="language" name="lang" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="words">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="word" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="n"/>
                                                                <xs:element type="xs:string" name="afl"/>
                                                                <xs:element type="xs:string" name="asl"/>
                                                                <xs:element name="elements">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" name="n" minOccurs="0" maxOccurs="1"/>
                                                                                        <xs:element type="xs:string" name="e_afl"/>
                                                                                        <xs:element type="LexiconOrTag" name="e_asl"/>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute type="sign" name="sign" use="required"/>
                                                                                    <xs:attribute type="suffixtype" name="type" use="optional"/>
                                                                                    <xs:attribute type="xs:string" name="reduplication" use="optional"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="wordclass" name="type"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="source_id" type="author" use="required"/>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
